<a href="https://colab.research.google.com/github/128-prathyusha/128-prathyusha/blob/main/21_04_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def colour():
  lists=['red','green','white','black','pink','yellow']
  lists.pop(5)
  lists.pop(4)
  lists.pop(0)
  print(lists)
  colour()

Program to get the difference between the two lists

In [2]:
def diff():
  l1=[12 ,21 ,45 ,76 ,90, 87, 98]
  l2={76,78,54}
  l3= set(l1)
  l4= set(l2)
  l15= l3.difference(l4)
  l16=list(l15)
  print(l16)
diff()

[98, 12, 45, 21, 87, 90]

Program to find the second smallest number and second largest number in a list.

In [3]:
def find_len():
  lists=[45,78,90,678,456,5678,9876]
  length=len(lists)
  lists.sort()
  print("second largest number is :", lists[length-2])
  print("second smallest number is :",lists[1])

find_len()

second largest number is : 5678
second smallest number is : 78

Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number

In [10]:
def sq_in_list():
  lists = [1,5,8,9]
  b= len(list1)
  for i in  range(a,b):
    c=list[i]
    a=pow(c,2)
    res = (c,a)
    print(res)
sq_in_list

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed

In [17]:
def len_of_tuples():
 test_list = [(5,8),(6,8),(3,2),(1,),(4,45,56)]

 print("the orginal list:" + str(test_list))

 k = 2
  res = [ele for ele in test_list if len(ele) != k]

 print("filtered list :"+ str(res))
lens_of_tuples

IndentationError: ignored

Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
def sq():
  n=int(input("enter a number"))
  d = dict()
  for x in range(1,n+1):
     d[x]=x*xprint(d)
     sq()